body{
  overflow-x: hidden !important;
  margin: 0;
}

.container {
  text-align: center;
  height: 74vh;
}

.head{
  height: 5rem;
  font-size: 1.9rem;
  margin-top: 26vh;

}

.clock{
  height: 10rem;
  margin-top: 3vh;
  font-size: 6rem;
  width: 27.45rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.min{
  width: 206px !important;
}

.footer{
  color: #808080;
  font-size: 1.1rem;
  margin-top: 5vh;
  font-family: 'Vidaloka', serif;
}

.container2{
  height: 40vh;
  background-color: #191919;
  color: #e5e5e5;
  margin-bottom: 30vh;
  padding: 0;
}

.quote{
  font-family: 'Vidaloka', serif;
  font-size: 1.5rem;
  padding: 40px;
  line-height: 1.4;

}

.container3{
  height: 80vh;
  color: #808080;
  text-align: center;

}

.measures{
  color: #808080;
  font-size: 1.1rem;
  margin-top: 5vh;
  font-family: 'Vidaloka', serif;
  line-height: 2;
}
