body{
  overflow-x: hidden !important;
  margin: 0;
}

.container {
  text-align: center;
  height: 74vh;
}

.head{
  height: 5rem;
  font-size: 1.9rem;
  margin-top: 26vh;
}

.clock{
  height: 10rem;
  margin-top: 3vh;
  font-size: 6rem;
  width: 27.55rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.min{
  width: 206px !important;
}

.footer{
  color: #808080;
  font-size: 1.3rem;
  margin-top: 5vh;
  font-family: 'Vidaloka', serif;
}

hr {
  width: 10vw;
  border-top: dotted 9px #808080;
  border: dotted none none none;

}

.container2{
  height: 40vh;
  margin-bottom: 30vh;
  padding: 0;
  text-align: center;
}

.quote{
  font-family: 'Vidaloka', serif;
  font-size: 1.5rem;
  padding: 40px;
  line-height: 1.4;
  color: 	#101010;
}

.container3{
  height: 90vh;
  text-align: center;
}

.measures{
  color: #101010;
  font-size: 1.4rem;
  margin-top: 5vh;

  line-height: 2;
}

/* Mobile */

@media (pointer:none), (pointer:coarse) {

  .head{
    height: 15rem;
    font-size: 4rem;
  }

  .clock{
    font-size: 6.8rem;
    margin-top: -2vh;
    width: 45rem;
  }

  .footer{
    font-size: 2.2rem;
  }

  hr {
    width: 15vw;
    border-top: dotted 12px #808080;
  }

  .quote{
    font-size: 2.9rem;
  }

  .measures{
    font-size: 2.5rem;
  }
}
